html {
  
}

body {
  background-color:black;
  font-family: sans-serif;
}
h1 {
  color: rgb(58, 215, 90);
  text-align: center;
}
h2 {
  color:white;
  text-align: center;
}
h3 {
  color:white;
  text-align: center;
}

@font-face {
    font-family: sans-serif;
    src: url(Gotham-Bold.otf);
}
