html {
  
}

body {
  background-color:black;
  font-family: sans-serif;
  margin-left:50px;
  margin-right:50px;
}
.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: centre;
}
h1 {
  color: rgb(58, 215, 90);
  text-align: center;
}
h2 {
  color:white;
  text-align: center;
}

@font-face {
    font-family: sans-serif;
    src: url(Gotham-Bold.otf);
}
#aboutSophia{
  color: white;
  text-align:center;
}
#sophiaBio {
  color:white;
  align-items:column; 
  text-align: center;
}

#aboutHailey{
  color:white;
  margin-left: 50px;
  text-align:center;
}
#haileyBio{
  color:white;
  margin-left: 50px;
  text-align: center;
}

#haileyPlaylist {
  margin-left: 70px;
}

.child1{
  
}
.child2{
  
}
.randomButton {
  background-color: white;
  color: green;
  border: 2px solid #04AA6D;

}

.randomButton:hover {
  background-color: #04AA6D;
  color: white;
}
.allOfButtonIncludingOutput{
  display:flex;
  justify-content: center;
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
}
#output {
  color:white;
  display:flex;
  justify-content: center;
}

#randomizedNodeID {
  color:white; 
  display:flex;
  justify-content: space-between;
  margin-left: 7px;
}
