html {
  
}

body {
  background-color:black;
  font-family: sans-serif;
}
h1 {
  color: rgb(58, 215, 90);
  text-align: center;
}
h2 {
  color:white;
  text-align: center;
}
.aboutSophia {
  color:white;
}
.abtSophia {
  color: white;
}

@font-face {
    font-family: sans-serif;
    src: url(Gotham-Bold.otf);
}
.grid-container {
  display: flex;
}
.About-Sophia {
  color:white;
  flex-grow: 1;
}
.About-Hailey {
  color:white;
  flex-grow: 1;
}

.randomButton {
  background-color: white;
  color: green;
  border: 2px solid #04AA6D;
}

.randomButton:hover {
  background-color: #04AA6D;
  color: white;
